<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Personal Info. | NexToU</title>
	<link rel="shortcut icon" href="pic/NTU.jpg" type="image/png">
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
</head>

<body>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

	<a href="landing.html">
			<img src="pic/LOGO.png" width=20% style="float:left" hspace="20" vspace="10"></img>
	</a>
	<form action='http://www.google.com/search' target="_blank" id='search' method='get'>
		<input type="hidden" name="sitesearch" value="網址" />
		<input id="s" name="q" type="text" title="輸入搜尋文字" value="" />
		<input id="r" type="submit" title="搜尋" value="" />
	</form>
	<style>
		#search {
		width: 202px;
		height: 32px;
		float: left;
		margin: 1% 0 0 30%;
		background: url(http://lh4.ggpht.com/_HjB26hkIEK8/S4ef8dinkyI/AAAAAAAAKMs/GJwru6v7zk4/Search%20012.png) no-repeat;
		}
		#s {
		width: 160px;
		margin: 7px 0 0 4px;
		float: left;
		border: none;
		background: none;
		color: #000000;
		font-family: Arial;
		}
		#r {
		width: 25px;
		height: 25px;
		margin: 3px 2px 0 0;
		float: right;
		cursor: pointer;
		border: none;
		background: none;
		}
	</style>
	
	<div align="left">
			<br>
			<a href="create_act.html">
				<img src="pic/create.png" width=10% hspace="1%"></img>
			<a href="info_info.html">
				<img src="pic/info.png" width=6% hspace="1%"></img>
			</a>
			<a href="landing.html">
                <img src="pic/logout.png" width=6% ></img>
			</a>
			</a>
			<br/>
			<br/>
			<br/>
			<br>
			<br>
    </div>

    <div class="container">

		<div class="row">
  			<div class="row row-offcanvas-left row-offcanvas row-offcanvas-right">
				<div class="col-xs-0 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
					<div class="list-group">
						<ul class="nav" id="side-menu">
							<li>
                            <a href="info_info.html"><i class="fa fa-info fa-fw"></i>My Pesonal Information</a>
							</li>
							<li>
								<a href="info_act.html"><i class="fa fa-discuss fa-fw"></i>My Activity</a>
							</li>
							<li>
								<a href="info_follow.html"><i class="fa fa-follow fa-fw"></i>Following</a>
							</li>
						</ul>
						<!-- /#side-menu -->
					</div>
					<!-- /.sidebar-collapse -->
				</div>    
            <!--/span-->
				<div class="content">
					<div class="row">
					          <div class="col-sm-6 col-md-3">
					            <div class="thumbnail">
									<a href="modify_act.html">
									<img data-src="holder.js/300x200" alt="..." src="pic/example.jpg">
									</a>
									<div class="caption">
										<h3>ALL 1</h3>
										<p>...</p>
									</div>
					            </div>
					          </div>

					          <div class="col-sm-6 col-md-3">
					            <div class="thumbnail">
					              <a href="modify_act.html">
									<img data-src="holder.js/300x200" alt="..." src="pic/example.jpg">
								  </a>
					              <div class="caption">
					                <h3>ALL 2</h3>
					                <p>...</p>
					              </div>
					            </div>
					          </div>

					          <div class="col-sm-6 col-md-3">
					            <div class="thumbnail">
									<a href="modify_act.html">
										<img data-src="holder.js/300x200" alt="..." src="pic/example.jpg">
									</a>
					              <div class="caption">
					                <h3>ALL 3</h3>
					                <p>...</p>
					              </div>
					            </div>
					          </div>
					</div>  
			</div>
            <!--/span-->
			
		</div>
        <!--/row-->
		</div>
        <hr>
		</div>

    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; NexToU 2014</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>
    <script src="js/bootstrap-modalmanager.js"></script>
    <script src="js/bootstrap-modal.js"></script>


</body>

</html>