{% extends 'leftmenu.html' %}
{% load i18n %}

{% block meta %}
{% endblock %}

{% block title %}
	mail | NexToU
{% endblock %}

{% block lists %}
<div class="content">
    <div class="row">
	{% block profile_details %}
        <img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
        <dl>
          {% block profile_definition_list %}
            {% if profile.user.get_full_name %}
              <dt>{% trans "Name" %}</dt>
              <dd>{{ profile.user.get_full_name }}</dd>
            {% endif %}
            {% if profile.talents %}
              <dt>{% trans "Talents" %}
              <dd>{{ profile.talents }}
            {% endif %}
            {% if profile.intro %}
              <dt>{% trans "Intro" %}
              <dd>{{ profile.intro }}
            {% endif %}
            {% if profile.resume %}
              <dt>{% trans "Resume" %}
              <dd>{{ profile.resume }}
            {% endif %}
            {% if profile.user.email and not hide_email %}
              <dt>{% trans "Email" %}</dt>
              <dd>{{ profile.user.email }}</dd>
            {% endif %}
          {% endblock %}
        </dl>
    {% endblock %}
	</div>
</div>
	<!-- /.container -->

{% endblock %}

