{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta %}
	<style>
		#search {
		width: 202px;
		height: 32px;
		float: left;
		margin: 1% 0 0 30%;
		background: url(http://lh4.ggpht.com/_HjB26hkIEK8/S4ef8dinkyI/AAAAAAAAKMs/GJwru6v7zk4/Search%20012.png) no-repeat;
		}
		#s {
		width: 160px;
		margin: 7px 0 0 4px;
		float: left;
		border: none;
		background: none;
		color: #000000;
		font-family: Arial;
		}
		#r {
		width: 25px;
		height: 25px;
		margin: 3px 2px 0 0;
		float: right;
		cursor: pointer;
		border: none;
		background: none;
		}
		</style>
{% endblock %}
{% block title %}
	edit | NexToU
{% endblock %}

{% block body %}
	<img src="{% static 'img/LOGO.png' %}" width=20% style="float:left" hspace="20" vspace="10"></img>
	<br><br>
	<br><br>
	<p align="center"></p>
	<div align="left" style="margin:50px">
		<div id="content">
			<form action="" enctype="multipart/form-data" method="post">
			  <ul id="box-nav">
			    <li class="first"><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'View profile' %}</span></a></li>
			    <li class="selected"><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
			    <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
			    <li class="last"><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
			  </ul>
			  {% csrf_token %}
			  <fieldset>
			    <legend>{% trans "Edit Profile" %}</legend>
				    {% for field in form %}
				        <div class="form-group">
				            {{ field.errors }}
				            {{ field.label_tag }} {{ field }}
				        </div>
				    {% endfor %}
			  </fieldset>
			  <input type="submit" value="{% trans "Save changes" %}" />
			</form>
   		</div>
    </div>
	<!-- /.container -->
    <div class="container">
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
{% endblock%}