{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta %}
{% endblock %}


{% block title %}	
	talents | NexToU
{% endblock %}


{% block body %}
<br/>
<br/>
<br/>
<br>
<br>
	<div class="container">
        <div class="row">
        	<div class="col-lg-12">
        		<div class="tabbable">
         			<ul class="nav nav-tabs">
            			<div class="btn-group" data-toggle="buttons-radio">
            			  {% for talents in talents_list %}
						 	<a href="#taball" data-toggle="tab" button type="button" class="btn btn-info">{{ talents.name }}</a>
						  {% endfor %}
			      		</div>
        			</ul>
        		</div>
        	</div>
        </div>
        <br>
        <div class="tab-content">
            <div class="tab-pane active" id="taball">                   
	            <div class="row">
	            	{% for profile in profile_list %}
			            <div class="col-sm-6 col-md-3">
				            <div class="thumbnail">
				            	<img data-src="holder.js/300x200" alt="..." src="{{ profile.get_mugshot_url }}">
				                <div class="caption">	
				                	<a href="{% url 'userena_profile_detail' profile.user.username %}">
				                    <h3>{{ profile.user.get_full_name }}</h3>
				                    <p>{{ profile.intro }}</p>				           
				                </div>
				            </div>
				        </div>
				    {% endfor %}
			    </div>
			</div>
		</div>
    </div>



<div class="container">
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; NexToU 2014</p>
            </div>
        </div>
    </footer>
</div>


{% endblock %}